*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #E50046;
    --akash: 700px;
}
body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}
.sidebar{
    width: 200px;
    /* height: 100dvh; */
    /* border: 2px solid black; */
    /* background:#57B4BA; */
    padding: 20px 15px;
    
}
.sidebar .brand{
    padding:20px 15px;
    color: #6EACDA;
    font-size: 1.3rem;
    transition: all 1s ease-in-out;
}
.sidebar .brand p a{
    text-decoration: none;
    color: #6EACDA;
}
.sidebar .brand a:hover{
    color: #FDAB9E;
}

.sidebar ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.3rem;
    top: 150px;

}
.sidebar ul li{
    list-style:none;
    text-transform: capitalize;
    color: #015551;
}
.sidebar ul li a{
    transition: all 0.1s ease-in-out;

}

.sidebar ul li a:hover{
    background-color:#FDAB9E;
    /* background-color: #cfafdf; */
    padding: 5px 25px;
    color: var(--primary-color);
    border-radius: 25px;
    font-weight: 500;
}
.sidebar ul li a{
    text-decoration: none;

    color: #015551;
}
/* main */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 0.8rem;
}
.footer .icon{ 
    display: flex;
    gap: 8px;
}

