*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    gap: 15px;
} 
ul li{
    list-style: none;
    
}
.navbar h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
}
.discription{
    padding: 10px 15px;
    margin-top: 150px;
    
}
.discription h3{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    background:linear-gradient(to bottom right,rgb(169, 160, 245),rgb(169, 62, 218))
}
.product-grid{
    display: grid;
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    grid-template-columns: repeat(3, 33.3%);
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-card{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    
    
}
.image-container{
    position: relative;

}

.image-container p{
    position: absolute;
    top: 10px;
    left: 10px;
    /* border: 1px solid black; */
    border-radius: 50px;
    padding: 5px 8px;
    font-size: 0.8rem;
    font-weight: 200;
    color:white;
    background-color: #FF8282;

}
.image-container div{
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* border: 1px solid black; */
    border-radius: 30px;
    padding: 5px 8px;
    font-size: 0.8rem;
    font-weight: 200;
    color:white;
    background-color: #81E7AF;


}
.product-card button{
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;

}
.product-card img:hover{
    filter: brightness(71%);
}

.product-card img{
    transition: all 0.175s ease-in-out;

}
.product-card button:hover{
    background-color: white;
    color: black;
}